@font-face {
  font-family: 'ionicons';
  src:
       url('../fonts/ionicons.woff') format('woff');
  font-weight: normal;
}

a.animated{
  font-weight: 1000;
}

a.animated:before{
  content: '';
  position: relative;
  top: 0;
  right: 0;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  opacity: 0.5;
  background-color: #0DD9F0;
}

a.animated:after{
  font-family: ionicons;
  content: '\f10b';
  font-size: 1.68em;
  position: relative;
  overflow-wrap: normal;
  padding: 10% 15%;
  bottom: 50%;
  left: 104%;
  line-height: 42px;
  border-radius: 50%;
  text-align: center;
  background-color: #2480FF;
  color: white;
}


/* animaciones 
.animated .word {
  overflow: hidden;
  color: transparent;
}
.animated .words:before, .animated .words:after {
  visibility: visible;
  color: red;
  transition: transform 0.5s cubic-bezier(0.9,0,.2,1);
  transition-delay: calc( 0.2s + ( 0.02s * ( var(--word-index)) ) )
}
.animated .words:before{
  color: #00C9B1;
  transition-delay: calc(0.02s * var(--word-index));
}
.animated:hover .words:before {
  transition-delay: calc( 0.2s + ( 0.02s * ( var(--word-index)) ) )
}
.animated:hover .words:after {
  transition-delay: calc(0.02s * var(--word-index));
}
.animated .words:before {
  transform: translateY(-100%);
}
.animated:hover .words:before {
  transform: translateY(0%);
}
.animated:hover .words:after {
  transform: translateY(100%);
}

*/