ul.contact-list{
    margin: calc(32px * 2) 0 calc(32px / 2) 0;
    padding: 0;
    list-style: none;
    list-style-type: none;
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    align-items: flex-start;
    flex-wrap: wrap; 
    
}

ul.contact-list li{
    margin: calc(32px * 2) 0 0 0;
    list-style-type: none;
    list-style: none;
    padding-right: calc(32px * 3);
}

ul.contact-list li a .contact-icon{
    position: relative;
    display: inline-block;
    width: 64px;
    height: 64px;
    line-height: 76px;
    border-radius: 50%;
    border-style: solid;
    border-width: 4px;
    text-align: center;
    transform: scale(1);
    transform-origin: 50% 50%;
    backface-visibility: hidden;
    transition: background-color 240ms cubic-bezier(0.39, 0.575, 0.565, 1), border-color 240ms cubic-bezier(0.39, 0.575, 0.565, 1), transform 250ms cubic-bezier(0.39, 0.575, 0.565, 1);
}

ul.contact-list li a .contact-icon img{
    display: inline-block;
    width: 32px;
    height: 32px;
    margin: 0 auto;
    transition: filter 240ms cubic-bezier(0.39, 0.575, 0.565, 1);
}

ul.contact-list li a .contact-icon img:hover{
    filter: invert(95%) sepia(0%) saturate(6490%) hue-rotate(122deg) brightness(113%) contrast(103%);
}

ul.contact-list li a h5{
    color: black;
    margin: calc(32px / 2) 0 0 0;
    font-size: 1.18em;
    font-weight: 600;
}

.contact-icon:hover{
    background-color: #2480FF;
    transform: scale(1); 
    border-color: #2480FF;
}