.headerContent{
    z-index: 999;
    display: block;
    width: 100%;
    position: relative;
    padding: 43px 0;
}

.mission-statement{
    font-size: 2.38em;
    margin-top: 72px;
    color: black;
    max-width: 720px;
    line-height: 1.18;
    font-weight: bold;
    margin: 32px 0 0 0;
}

.tableContainer{
    display: flex;
    justify-content: center;
}

.gridButtons{
    display: grid;
    grid-template-rows: 25%;
    grid-template-columns: 50% 53%;
    column-gap: 100%;
    clear: both;
    padding: 0px;
    margin-left: 8.5%;
    margin-top: 9%;
}